@model Modeloa.Cadastros.Produto
@if (Model.Lançamento == true)
{
    <h3>Produto Lançamento</h3>
}
<div class="form-group">
    @Html.LabelFor(model => model.Nome)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Nome, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
        disabled = "disabled"
            }
        })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Categoria.Nome)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Categoria.Nome, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
        disabled = "disabled"
            }
        })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Fabricante.Nome)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Fabricante.Nome, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
        disabled = "disabled"
            }
        })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Preço)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Preço, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
        disabled = "disabled"
            }
        })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Percentual)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Percentual, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
        disabled = "disabled"
            }
        })
    </div>
</div>

